Record/Record/FILE/
Mai-Kagami/Release/
Record/Record/x64/
Mai-Kagami/Mai-Kagami/song/
Mai-Kagami/Mai-Kagami/x64/
Test/Test/Debug/
Test/Test/x64/
*.avi
Mai-Kagami/Mai-Kagami/Release/
Mai-Kagami/Mai-Kagami/FILE/
Mai-Kagami/Mai-Kagami.VC.VC.opendb
Mai-Kagami/Mai-Kagami.VC.db
Mai-Kagami/Mai-Kagami/Debug/
*.db
