*.avi
Mai-Kagami/Mai-Kagami.VC.VC.opendb
Mai-Kagami/Mai-Kagami.VC.db
Mai-Kagami/Mai-Kagami/song/
Mai-Kagami/Mai-Kagami/Debug/
Record/Record/x64/
Record/Record/FILE/
*.db
Test/Test/Debug/
Mai-Kagami/Release/
Test/Test/x64/
Mai-Kagami/Mai-Kagami/FILE/
Mai-Kagami/Mai-Kagami/Release/
